@import url("fnt/futurapt/style.css");

h1, h2, h3, h4 {
    padding: 10px;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 0;
    text-shadow: 0px 0px 8px #fff4e6;
    z-index: 200;
    font-size: 20pt;
    text-align: center;

    color: #511;
}
h4 {
    color: #433;
}
h3 {
    text-align: left;
    padding: 0;
    padding-left: 1em;
}
h2 {
    font-size: 26pt;
}
h1 {
    color: #111;
    padding-top: 50px;
    font-size: 38pt;
}

p, li, dd {
    padding-right: 1em;
    text-shadow: 0px 0px 8px #fff4e6;
    line-height: 150%;
    padding: 20px;
    color: #444;
}
p.poem {
    line-height: 180%;
}
p.weak, dd {
    padding: 0;
    padding-right: 1em;
    font-size: 14pt;
}
p.power {
    color: #111;
    font-size: 20pt;
}

dt {
    padding: 10px;
}

hr {
    margin-top:30px;
    margin-bottom:30px;
    border-top: 2px solid #e62;
}
hr.thin {
    width: 50%;
}
hr.transparent {
    opacity: 0;
    border-top: 1px;
}

div {
    position: relative;
    margin: auto;
    display: block;
}
div.mainheader {
    z-index: -250;
    background-color: #fff4e6aa;
}
div.main, div.mainheader {
    max-width: 600pt;
    align-items: start;
}
div.article {
    max-width: 1200pt;
    align-items: start;
}
div.canvas {
    min-width:100%;
    align-items: center;
}

div.article-text {
    width:60%;
    float:right;
}
div.article-img {
    width:40%;
    float:left;
    vertical-align:middle;
}

div.city {
    display: none;
}

img {
    z-index: -200;
}
img.bg {
    z-index: -300;
    position: absolute;
    object-fit: cover;
    left: 0%;
    right:0%;
    top: 0%;
    overflow: hidden;
    height: 100%;
    width: 100%;

    opacity: 40%;
}
img.gallery {
    max-height: 500pt;
    width: 90%;
    padding: 8px;
    display:block;
    margin:auto;
    border: 3px dashed #e62;
}
img.right, img.left {
    position: absolute;
    top: 16ch;
    max-width: 30%;
    rotate: -90deg;
}
img.right {
    right:-10%;
    transform: scaleY(-1);
}
img.left {
    left:-10%;
}

a:link, a:visited {
    color: #911;
}
a:hover, a:active {
    color: #c33;
}

body {
    font-family: "Futura PT", "Verdana", sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    background: linear-gradient(to right bottom, #fff4e6, #f6fbff);
    margin: auto;
    overflow-x: hidden;
    
    font-size: 17pt;
    text-align: left;
}

@media (max-width: 768px) 
{
    img.right, img.left {
        top: 6ch;
    }

   p, li
   {
    line-height:130%;
    font-size: 14pt; 
   }
   p.power
   {
    line-height:120%;
    font-size: 16pt; 
   }
   h1
   {
       font-size:40pt;
   }
   h2
   {
       font-size:30pt;
       text-align: center;
   }
   h3 {
    font-size:20pt;
   }

   div.article-text {
    width:100%
    }
   div.article-img {
    width:100%
   }
}
@media (min-width: 769px)
{
    body {
        text-align: center;
    }
}